[Desktop Entry]
Name=Cfait
Comment=🗹 Take control of your TODO list
Exec=cfait-gui
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=todo;caldav;task;
Icon=cfait
StartupWMClass=cfait-gui
